label {
  display:block;
}

select {
  height:25px;
}

.input_param {
  display:inline-block;
  margin: 10px 20px 0 20px;
}

/* .all_inputs {

} */

.errpct_input {
  width: 70px;
}

.error_text {
  color: #b40e0e;
} 